body header .tituloUni .uniDibu {
  width: 30%;
  animation-name: bailaUni;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 5s; }

@keyframes bailaUni {
  from {
    transform: scale(0.5); }
  to {
    transform: scale(1); } }

body header .tituloUni h1 {
  font-family: 'Sacramento', cursive;
  font-size: 6rem;
  font-weight: lighter;
  text-align: center;
  color: #4e4e4e;
  width: 70%; }

body .principal section h3, main .meses .misAventuras h3, main .crecimientoMeses h3 {
  font-family: 'Amatic SC', cursive;
  font-size: 2.5em;
  font-weight: lighter;
  text-align: center;
  color: #403f3f; }

body .principal section ul li, main .crecimientoMeses ul li {
  font-family: 'Amatic SC', cursive;
  font-size: x-large;
  list-style-type: circle; }

body {
  background-color: #d1e2db;
  margin: 0;
  padding: 0; }
  body header nav {
    background-color: #d1e2db;
    z-index: 100;
    position: fixed;
    width: 100%; }
    body header nav ul {
      display: flex;
      justify-content: space-around; }
      body header nav ul li a {
        text-decoration: none;
        color: grey;
        transition: 1s; }
      body header nav ul li :hover {
        font-weight: bolder; }
      body header nav ul .navCatalina {
        font-family: 'Amatic SC', cursive;
        list-style: none;
        font-size: 1.5rem;
        padding: 0.5rem;
        border: none;
        border-radius: 2rem;
        background-color: #ffc8a2; }
      body header nav ul .navPrimermes {
        font-family: 'Amatic SC', cursive;
        list-style: none;
        font-size: 1.5rem;
        padding: 0.5rem;
        border: none;
        border-radius: 2rem;
        background-color: #b7eaf7; }
      body header nav ul .navSegundomes {
        font-family: 'Amatic SC', cursive;
        list-style: none;
        font-size: 1.5rem;
        padding: 0.5rem;
        border: none;
        border-radius: 2rem;
        background-color: #ff9aa2; }
      body header nav ul .navTercermes {
        font-family: 'Amatic SC', cursive;
        list-style: none;
        font-size: 1.5rem;
        padding: 0.5rem;
        border: none;
        border-radius: 2rem;
        background-color: #ffffb5; }
      body header nav ul .navContacto {
        font-family: 'Amatic SC', cursive;
        list-style: none;
        font-size: 1.5rem;
        padding: 0.5rem;
        border: none;
        border-radius: 2rem;
        background-color: #cbaacb; }
  body header .tituloUni {
    padding-top: 7rem;
    display: flex;
    align-items: center; }
  body .principal {
    padding-top: 0;
    justify-content: center;
    padding: 1.5rem;
    display: grid;
    grid-template-areas: "miNacimiento miNacimiento" "video video" "seccionUno seccionDos"; }
    body .principal .miNacimiento {
      grid-area: miNacimiento; }
      body .principal .miNacimiento h2 {
        text-align: center;
        font-family: 'Amatic SC', cursive;
        font-size: 3rem;
        padding-bottom: 0.5rem;
        color: #403f3f; }
      body .principal .miNacimiento p {
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1rem;
        color: #403f3f; }
    body .principal .video {
      grid-area: video;
      justify-self: center;
      padding: 1rem; }
    body .principal section ul {
      text-align: center; }
    body .principal .cartaNatal {
      display: none; }
    body .principal .familiaDatos {
      display: none; }
    @media screen and (min-width: 1000px) {
      body .principal .cartaNatal {
        display: block;
        grid-area: seccionUno;
        justify-self: center; }
      body .principal .familiaDatos {
        display: block;
        grid-area: seccionDos;
        align-self: center; } }
  body footer {
    text-align: right;
    padding: 2rem; }
    body footer .ig {
      display: flex;
      justify-content: end; }
      body footer .ig .instagram {
        padding-left: 0.5rem;
        color: black;
        text-decoration: none;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bolder; }
    body footer h4 {
      font-size: 0.5rem;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.contacto {
  border-style: double;
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  justify-content: space-evenly; }

main .tituloMeses {
  font-family: 'Amatic SC', cursive;
  font-size: 3rem;
  padding: 1rem;
  text-align: center;
  color: #403f3f; }

main .meses {
  display: flex;
  align-items: center;
  justify-content: center; }
  main .meses .misAventuras {
    padding: 1rem; }
    main .meses .misAventuras p {
      text-align: center;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 1rem;
      color: #403f3f; }
  main .meses .imgMeses {
    padding: 3rem;
    max-width: 100%;
    max-height: 100%; }
    main .meses .imgMeses img {
      width: 13rem; }

main .crecimientoMeses {
  display: none; }
  main .crecimientoMeses ul {
    text-align: center; }
    main .crecimientoMeses ul li {
      list-style: none; }

@media screen and (min-width: 1000px) {
  main .crecimientoMeses {
    display: block; } }
